@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:ital,wght@0,100;0,500;1,700&display=swap');

/*
.nombre es la clase
#nombre es el id 
o tambien puede ser la etiqueta h1 h2 o p 


label {
    background-color:tomato;
    width: 400px;
    height: 50px;
}

input {
    background-color:aqua ;
    width: 400px;
    height: 50px;
  
}

button{
    background-color: violet;
    width: 400px;
    height: 50px;
  
}
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    /* el border-box es mejor colocarlo de manera universal, no queremos que ninguna cajita cambie de tamaño y malogre todo nuestro estilo. */
}

.titulo{
    color: #0077b6; /* Cambiar el color del texto a uno más profesional */
    background-color: #f2f2f2; /* Utilizar un fondo más suave que contraste bien con el color del texto */
    width: 25%; /* Aprovechar todo el ancho disponible */
    height: 60px; /* Aumentar la altura para que destaque */
    display: flex; /* Utilizar flexbox para centrar vertical y horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    font-size: 32px; /* Aumentar el tamaño del texto */
    font-weight: bold; /* Hacer que el texto sea más audaz */
    border: 2px solid #0077b6; /* Agregar un borde para definir el área del título */
    border-radius: 98px; /* Redondear las esquinas del elemento */
    padding: 10px; /* Agregar espacio interno para separar el contenido del borde */
    margin-bottom: 20px; /* Agregar margen inferior para separar del contenido adyacente */
}

.subtitulo{
    
}
.tarjeta-mokepon{
    width: 200px; /* Aumentar el ancho para un aspecto más llamativo */
    height: 150px; /* Aumentar la altura para más espacio */
    background-color: #1c684f; /* Cambiar el color de fondo a "agua marina" más estándar */
    padding: 20px; /* Aumentar el relleno para más espacio interno */
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid #06ca3499; /* Aumentar el grosor del borde y cambiar el color a uno más llamativo */
    border-radius: 10px; /* Redondear las esquinas */
    text-align: center; /* Centrar el contenido horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido verticalmente */
    justify-content: center;
    color: #fff; /* Cambiar el color del texto a blanco para que contraste con el fondo */
    text-decoration: none; /* Eliminar el subrayado del texto */
    cursor: pointer; /* Cambiar el cursor al estilo de un botón al pasar el ratón sobre él */
    transition: background-color 0.3s, color 0.3s; /* Agregar una transición suave al cambiar el color de fondo y el texto */
}
.tarjeta-mokepon img{
    width: 80px;
}

.tarjetas{
    display: flex;
    gap: 10px; /*espaciado*/

}



.tarjeta-mokepon:hover {
    background-color: #02990595; /* Cambiar el color de fondo al pasar el ratón sobre él */
  }


  #boton-mascota {
    width: 180px;
    height: 40px;
    border-color: white; /* Quitamos el borde para un aspecto más limpio */
    border-radius: 20px;
    background-color: #1c684f;
    color: white;
    font-size: 16px; /* Aumentamos el tamaño del texto para una mejor legibilidad */
    font-weight: bold; /* Hacemos el texto en negrita para destacarlo */
    margin: 30px 20px 10px 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 100px;
}

#boton-mascota:hover {
    background-color: #156c557c; /* Cambiamos el color de fondo al pasar el ratón por encima */
    color: #fff; /* Cambiamos el color del texto al pasar el ratón por encima */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agregamos una sombra al botón en hover para un efecto tridimensional */
}

#seleccionar-mascota, #seleccionar-ataque {
    display: flex;  /*Con esto le decimos que trabaje con la tecnologia de flex*/
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 

input{
    display: none;
}

body{
    background-image: url(./img/imagenfondo.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    padding: 20px;
      
}