/*
.nombre es la clase
#nombre es el id 
o tambien puede ser la etiqueta h1 h2 o p 
*/
.titulo{
    color: blue;
    width: 400px;
    height: 50px;
  
}

label {
    background-color:tomato;
    width: 400px;
    height: 50px;
}

input {
    background-color:aqua ;
    width: 400px;
    height: 50px;
  
}

button{
    background-color: violet;
    width: 400px;
    height: 50px;
  
}